body
{
    background-color: #222831; 
    color           :   #eeeeee;
}
hr
{
    border-style: none;
    border-top-style: dotted;
    border-color: #a2b59f;
    border-width: 6px;    
    width: 6%; 
}

h1
{
    color: #00adb5;
}
H3
{
    color: #00adb5;
}

img:hover 
{
    background-color: #a2b59f;  
}

.info
{
    background-color: #393e46;
    
}