/**
    #222831 is background color
    #393e46 is block color
    #eeeeee is text color 
    #00adb5 is Heading and for emphasizing

**/

body
{
    background-color: #222831;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    margin-bottom: 0px;
    font-family: Verdana ,sans-serif;
    font-size: 1.5em;
    color: #eeeeee;
}
h3
{
    color: #00adb5;
}
div
{
    margin: 0;
}
.top_div
{
    background-color: #393e46;
    color: #eeeeee;
    margin: 0;
    position: relative;
    padding-top: 50px;
}
.top_div *
{
    
    padding-left: 5px;
    position: relative;
    text-align: center;
}
.top_div h1
{
    color: #00adb5;
    font-family: 'Wallpoet', cursive;
    font-size: 5.25rem;
    margin: 50px auto 0 auto;
    padding-top : 10px;
}
.top_div p
{
    font-family: 'Audiowide', cursive;
    font-weight: normal;
    line-height: 2;
}

.top_logo
{
    position: absolute;
    right: 10%;
    top: 35%;
    width: 30%;

}
.copy_letter
{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.7);
    bottom: 15%;
    font-size: 3vw;
    left: 37%;
    border: solid 5px;
    border-radius: 3px;
    border-color: rgb(34, 40, 49, 0.2);
    padding: 5px;
    z-index: 1;
    width: 30%;
}
.top_city
{
    width: 100%;
    padding-left: 0px;
    position: relative;
    bottom: -10px;
}

.middle_div
{
    height: 500px;
    text-align: center;
}
.middle_div .article
{
    text-align: left;
    margin-left: 50px;
}

.bottom_div
{
    background-color: #393e46;
    height: 500px;
    text-align: center;
}
.bottom_div .article
{
    text-align: right;
    margin-right: 50px;
}

.article
{
    display: inline-block;
    
    width: 65%;
    height: auto;
}
.img_article
{
    display: inline-flexbox;
    width: 20%;
    height: auto;
    max-height: 300px;
    max-width: 300px;
    margin: 50px 0 0;
}

.boxAtc
{
    padding: 5% 0 5%;
}
/*
    ToDo: article을 수직 중간정렬
*/